/*--------------------------------------------------------------------------------*/
/*-------------------------------------Home Page----------------------------------*/
/*--------------------------------------------------------------------------------*/

.hot-flame {
	position: absolute;
	height: 3.5vw;
	max-height: 40px;
	min-height: 20px;
	filter: saturate(1.2);
	margin-left: 5px;
	margin-top: -5px;
}

@media (max-width: 768px) {
	.hot-flame {
		margin-top: 0px;
	}
}

@media (max-width: 576px) {
	.hot-flame {
		margin-top: 2px;
	}
}

@media (min-width: 1300px) {
	.hot-flame {
		margin-top: 2px;
	}
}

.hot-kit-img {
	transition: all 0.3s;
	z-index: 10;
}

.stem-selector {
	border-radius: 25px 25px 0 0;
	box-shadow: 0px -8px 10px #0000005a;
	border-bottom: 1px solid #747474;
	background-color: #1e1d1d;
	width: max-content;
	max-width: 100%;
	overflow-x: hidden;
	margin: auto;
	margin-top: 75px;
	position: relative;
	border: 1px solid #3b3b3b;
	padding: 0px 17.5px 20px 17.5px;
}

.stem-ico {
	height: 50px;
	animation-name: stemAni;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	filter: grayscale(0) brightness(0.5) sepia(0) saturate(0) hue-rotate(0) contrast(1);
}

@keyframes stemAni {
	20% {
		filter: grayscale(0) brightness(0.5) sepia(0) saturate(0) hue-rotate(0) contrast(1);
	}
	100% {
		filter: grayscale(100%) brightness(60%) sepia(100%) saturate(700%) hue-rotate(5deg) contrast(1);
	}
}

.stem-txt {
	margin-top: 4px;
	text-align: center;
	color: grey;
}

.stem-header {
	text-align: center;
	color: #ffcc00;
	font-size: 40px;
	line-height: 0px;
}

@media (max-width: 576px) {
	.stem-header {
		font-size: 26px;
	}
	.stem-ico {
		height: 30px;
	}
	.stem-txt {
		font-size: smaller;
	}
}

.stem-grid {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.stem-cont {
	grid-template-columns: auto auto;
	display: grid;
	width: 400px;
	margin: auto;
	justify-items: left;
	padding: 10px;
}

@media (max-width: 576px) {
	.stem-cont {
		width: 250px;
	}
}

.stem-type {
	color: white;
	font-size: 30px;
	margin-top: 25px;
}

@media (max-width: 576px) {
	.stem-type {
		margin-top: 40px;
		font-size: 20px;
	}
}

.stem-img {
	height: 60px;
	margin-left: 70px;
	margin-top: 12px;
}

@media (max-width: 576px) {
	.stem-img {
		margin-top: 22px;
		height: 60px;
		margin-left: 30px;
	}
}

.header-cont {
	padding-block: 30px;
	background-color: #141414;
	width: 104%;
	margin-left: -2%;
	overflow: hidden;
	display: flex;
	align-items: center;
	position: relative;
	background-image: url(../assets/homeImgs/bgImgs/studio.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transition: background-position 0.5s background-size 0.5s;
	transition: filter 0.3s;
}

.header-index {
	color: white;
	font-size: 10vw;
	line-height: 10vw;
	text-align: left;
	margin-left: 0%;
	padding-left: 8%;
	z-index: 2;
	opacity: 0;
	width: min-content;
	animation-name: header-index-appear;
	animation-iteration-count: 1;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
	transition: margin-left 0.05s;
}

@keyframes header-index-appear {
	0% {
		margin-left: -25%;
		opacity: 0;
	}
	100% {
		margin-left: 0%;
		opacity: 1;
	}
}

@media (max-width: 578px) {
	.header-index {
		font-size: 50px;
		line-height: 50px;
	}
}

@media (min-width: 1300px) {
	.header-index {
		font-size: 120px;
		line-height: 120px;
	}
}

.tilted-cont {
	height: 300%;
	width: 50%;
	background: linear-gradient(50deg, rgba(255, 226, 0, 1) 0%, rgb(255, 91, 2) 55%, rgb(255, 240, 104) 100%);
	position: absolute;
	left: -32%;
	top: -100%;
	rotate: 45deg;
	z-index: 1;
}

@media (min-width: 1300px) {
	.tilted-cont {
		height: 1400px;
		width: 1400px;
		left: -700px;
		top: -1000px;
	}
}

.key-calc-img {
	width: 80%;
	border-radius: 20px;
	border: 3px solid rgb(18, 18, 18);
	margin-left: 10%;
	transition: filter 0.3s, scale 0.3s;
}

.key-calc-img:hover {
	filter: brightness(1.2);
	cursor: pointer;
}

.filter-plugin-img {
	width: 60%;
	margin-left: 19%;
	float: center;
	object-fit: contain;
	border: 5px solid rgb(18, 18, 18);
}

.step-title {
	padding-top: 30px;
	color: white;
	font-size: 20px;
	margin-left: 10%;
	width: 80%;
}

.step-txt {
	color: #b8b8b8;
	width: 80%;
}

@media (min-width: 1300px) {
	.step-txt {
		margin-left: 12%;
	}
}

.step-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 5px solid #121212;
	border-radius: 20px;
	object-fit: contain;
	max-height: 400px;
	max-width: 400px;
}

.free-header {
	text-align: center;
	margin: auto;
	color: white;
	font-size: 20px;
	width: 80%;
}

.gotokits-cont {
	width: 80%;
	max-width: 1050px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	margin: auto;
}

.go-to-kits {
	z-index: 9;
	position: absolute;
	right: 0px;
	bottom: -10px;
	background-color: orange;
	border: none;
	color: white;
	font-family: inherit;
	font-size: 25px;
	padding: 15px 10px 20px 10px;
	border-radius: 10px;
	transition: transform 0.3s, font-size 0.5s, padding 0.5s, bottom 0.5s;
	border: 4px solid rgba(238, 147, 36, 0.775);
	box-shadow: 2px 2px 2px 2px #00000031;
	overflow: hidden;
}

@media (max-width: 768px) {
	.go-to-kits {
		font-size: 21px;
	}
}

@media (max-width: 576px) {
	.go-to-kits {
		font-size: 18px;
	}
}

.go-to-kits:hover {
	transform: scale(1.1);
	padding: 15px 10px 25px 10px;
	cursor: pointer;
}

.key-container {
	display: flex;

	gap: 5px;
	margin: auto;
	justify-content: center;
	position: relative;
	left: -60px;
	filter: brightness(0.5);
}

@media (min-width: 1300px) {
	.key-container {
		margin-left: 15%;
		left: 0px;
	}
}

@media (max-width: 756px) {
	.key-container {
		margin-left: 50px;
		left: 0px;
	}
}

@media (max-width: 576px) {
	.key-container {
		margin-left: 8%;
		margin-top: -10px;
		transform: scale(0.7);
	}
}

.key-element {
	height: 40px;
	width: 40px;
	border: 2px solid rgb(153, 153, 153);
	border-radius: 5px;
	position: relative;
}

.key-letter {
	color: rgba(255, 255, 255, 0.674);
	position: absolute;
	font-size: 12px;
	line-height: 0px;
	top: -2px;
	right: 5px;
}

.key-number {
	color: white;
	line-height: 0px;
	position: absolute;
	font-size: 12px;
	left: 6px;
	bottom: -2px;
}

.key-img {
	position: absolute;
	height: 18px;
	padding: 2px;
}

.price {
	position: absolute;
	color: white;
	background-color: #505050;
	width: min-content;
	text-align: center;
	padding: 4px 7px 4px 7px;
	border-radius: 10px;
	z-index: 10;
	bottom: 10px;
	left: 10px;
}

.filter-body {
	background-color: #181818;
	height: 255px;
	width: 300px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid rgb(67, 67, 67);
	position: relative;
	padding: 0 20px 0 20px;
	box-shadow: 0px -8px 10px #0000005a;
	z-index: 5;
}

@media (max-width: 576px) {
	.filter-body {
		width: 250px;
		height: 205px;
	}
}

.filter-header {
	width: 100%;
	color: white;
	text-align: center;
	font-size: 30px;
	line-height: 10px;
}

@media (max-width: 576px) {
	.filter-header {
		font-size: 20px;
	}
}

.filter-sliders {
	display: flex;
	justify-content: space-around;
	margin: auto;
	width: auto;
}

.filter-slider {
	height: 120px;
	width: 6px;
	background-color: grey;
	border-radius: 4px;
}

@media (max-width: 576px) {
	.filter-slider {
		height: 90px;
		width: 4px;
	}
}

.filter-circle {
	width: 15px;
	height: 15px;
	background-color: rgb(255, 204, 0);
	border-radius: 15px;
	position: absolute;
	margin-left: -4px;
	top: 95%;
}

@media (max-width: 576px) {
	.filter-circle {
		width: 12px;
		height: 12px;
	}
}

.filter-type {
	width: 40px;
	position: absolute;
	left: -20px;
	bottom: -40px;
}

@media (max-width: 576px) {
	.filter-type {
		width: 34px;
		left: -15px;
	}
}

.filter-anim {
	animation-name: filterAnim;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes filterAnim {
	0% {
		top: 95%;
	}
	100% {
		top: 0px;
	}
}
